@import "./atoms/atoms.scss";
@import "./atoms/text.scss";
@import "./organisms/organisms.scss";
@import "./pages/pages.scss";
@import "./molecules/molecules.scss";


*{
    margin: 0;
    padding: 0;
    font-family: "Inconsolata";
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 105px;
}

.nav--links-link{
    padding: 0 15px 0 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.footer{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer--element{
    width: 25vw;
    padding: 10px;
}

.footer--link-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer--design-element{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}