@import "./atoms/atoms.scss";
@import "./organisms/organisms.scss";
@import "./pages/pages.scss";
@import "./molecules/molecules.scss";

*{
    margin: 0;
    padding: 0;
    font-family: "Inconsolata";
}

main{
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 105px;
}

.nav--popout{
    display: none;
}

.nav--links-link{
    padding: 0 15px 0 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.footer{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer--element{
    width: 25vw;
    padding: 10px;
}

.footer--link-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    div, p{
        margin: 7px 0 0 0 ;
    }
}

.footer--design-element{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    p{
        padding: 0 10px 0 0 ;
    }
}

@media only screen and (max-width: 900px) {

    @import "./phone/atoms/atoms.scss";
    @import "./phone/molecules/molecules.scss";
    @import "./phone/organisms/organisms.scss";
    @import "./phone/pages/pages.scss";

    h1{
        font-size: 48px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 16px;
    }

    .nav--popout{
        display: block;
    }

    .nav--cross{
        display: none;
    }

    header{
        .nav--links{
            display: none;
        }
        position: relative;

        .nav--popout{

            img{
                display: block;
                width: 50px;
                height: 50px;
            }

            .nav--popout-links{
                position: absolute;
                background-color: white;
                width: 100vw;
                left: 0;
                top: 99%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 3;

                .nav--popout-links-link{
                    padding: 20px 0;
                    width: 100%;
                    border-top: black solid 1px;
                    text-align: center;
                    align-items: center;
                }
            }   
        }
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer--element{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80vw;
        }
    }
}