@import "../vars.scss";

.nav--teams{
    margin: 25px 0;

    
    .nav--teams-list{
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            list-style: none;
        }
    }
}

.nav--links-link{
    &:hover{
        color: $blue--hover;
    }

}

.hide{
    display: none;
}

.active{
    color: $blue--hover;
}