.teams--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        margin: 50px 0 0 0 ;
    }

    .teams--members{
        width: 100%;

        grid{
            width: 90vw;
            display: grid;
            grid-template-columns: 20vw 20vw 20vw 20vw;
            grid-gap: 50px;
            padding: 50px 50px;
            text-align: center;
        }
    }
}