.posts--container{
    margin: 100px 0 100px 0;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

    .post--container{
        min-width: 50vw;
        height: 500px;
        background-size: cover;
        padding: 10px;
        margin: 0 0 100px 0;
    }
}

.container{
    margin: 0;
}

.banner--container{
    align-items: center;
    .banner{
        width: 100vw;
        background-size: 100vw 200px;
        a{
            bottom: -10%;
            left: 15%;
        }
    }
}